<%- include('../views/partials/header') %>


<div class="error">
<center>
<h2><%= error.status %></h2>
<h2><%= message %></h2>
<br><br>
</center>
<h6><%= error.stack %></h6>
</div>


<%- include('../views/partials/footer') %>