<%- include('../partials/header') %>

    <h2>Update Flight Details</h2>
    <br>
    <form action="/flights/<%= flight._id %>?_method=PUT" method="POST">
        <label>Airline:
            <select name="airline">
                <option value="<%= flight.airline %>"><%= flight.airline %></option>
                <option value="American">American</option>
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
            </select>
        </label><br><br>
        <label>Origin Airport:
            <select name="airport">
                <option value="<%= flight.airport %>"><%= flight.airport %></option>
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="LAX">LAX</option>
                <option value="SEA">SEA</option>
                <option value="SFO">SFO</option>
            </select>
        </label><br><br>
        <label>Flight No.:
            <input type="text" name="flightNo" autocomplete="off" value="<%= flight.flightNo %>">
        </label><br><br>
        <label>Departure Date/Time:
            <input type="datetime-local" name="departs">
        </label><br><br>
        <center><input type="submit" value="Update" class="btn"></center>
    </form>

<%- include('../partials/footer') %>