<%- include('../partials/header') %>

        <h2>Flight List</h2>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Details</th>
                    <th>Airline</th>
                    <th>Origin</th>
                    <th>Flight</th>
                    <th>Depart Date/Time</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% flights.forEach((flight) => { %>
                    <tr>
                        <td>
                            <form action="/flights/<%= flight._id %>">
                                <button type="submit">View</button>
                            </form>
                        </td>
                        <td><%= flight.airline %></td>
                        <td><%= flight.airport %></td>
                        <td><%= flight.flightNo %></td>
                        <td><%= flight.departs %></td>
                        <td>
                            <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="delete-btn">X</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <br>
        
<%- include('../partials/footer') %>