<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>Flight Details</title>
    </head>
    <body>
        <nav>
            <a href="/" class="navlink">Home</a> | <a href="/flights" class="navlink">Flights</a> | <a href="/flights/new" class="navlink">New</a>
        </nav>
        <br>
        <h2>Flight Details</h2>
        <br>
        <section>
            <div>Airline: </div>
            <div><%= flight.airline %></div>
            <div>Origin: </div>
            <div><%= flight.airport %></div>
            <div>Destination: </div>
            <div><%=  %></div>
            <div>Flight Number: </div>
            <div><%= flight.flightNo %></div>
            <div>Departure Date/Time: </div>
            <div><%= flight.departs %></div>
        </section>
    </body>
</html>